body {
    background-color: #183A4A;
}

ul {
    margin: auto;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-inline-start: 0px;

}

li {
    list-style: none;
    padding: 0.5rem;
    height:  80px;
    width: 80px; 
}

li > div {
    line-height: 80px;
    text-align:center;
    background-color: #3D88AE;
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.fizz {
    background-color: #61D2A4;
}

.buzz {
    background-color: #F9D277;
}

.fizzbuzz {
    background-color: #DE5471;
}